[core]
	excludesfile = /Users/flove/.gitignore_global
	editor = zile

[user]
	name = Fenimore Love
	email = flove@deloitte.com

[format]
	pretty = "%H %ci %ce %ae %d %s"

[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX

[alias]
	st = status
	ci = commit
	mg = !git remote update --prune && git merge --ff-only @{u}%
	lg = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pub = !git push -u origin $(git branch-name)
